@import "tailwindcss";

@layer components {
    .green_btn {
        border-radius: 5px;
        background-color: rgb(9, 183, 9);
        padding-inline: --spacing(5);
        padding-block: --spacing(2);
        font-weight: var(--font-weight-semibold);
        color: var(--color-white);
        box-shadow: var(--shadow-md);
        margin: 0 90px;

        &:hover {
            @media (hover: hover) {
                background-color: rgb(181, 181, 181);
            }
        }

    }

    .delete_btn {
        border-radius: 3px;
        background-color: rgb(255, 0, 0);
        color: var(--color-white);
        box-shadow: var(--shadow-md);
        border-radius: 50%;

        &:hover {
            @media (hover: hover) {
                background-color: rgba(181, 181, 181);
            }
        }
    }

    .blue_btn {
        border-radius: 3px;
        background-color: rgb(0, 89, 255);
        padding-inline: --spacing(5);
        padding-block: --spacing(2);
        font-weight: var(--font-weight-semibold);
        color: var(--color-white);
        box-shadow: var(--shadow-md);


        &:hover {
            @media (hover: hover) {
                background-color: rgb(58, 58, 58);
            }
        }
    }

    .primary_background {
        background-color: white;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .primary_font {
        margin-left: 11px;
        font-family: sans-serif;
        font-weight: bold;
        color: #423f3fe2; 
    }


    .secondry_font {
        color: gray;
    }



    .mobile_cards_layout {
        display: grid;
        grid-template-columns: 1fr;
        gap: 44px;
        /* place-content: center; */

    }

  .pc_version{
    display: grid;
    grid-template-columns: 30% 70%;

   }

    .staff_card {
        display: flex;
        margin-left: 19px;
        margin-right: 19px;
        padding: 9px 1px 9px 0;
        border-radius: 7px;
        background-color: rgba(128, 128, 128, 0.227);
    }
    .editing_btn {
        font-weight: bold;
        color: orange;
    }
    .mobile_room_name {
        color: rgb(255, 255, 255);
        margin-bottom: 35px;
        font-weight: bold;
    }
    .mobile_room_style {
        background-color: rgb(0, 0, 0);
        margin-left: 47px;
        margin-right: 47px;
        padding-top: 14px;
        padding-bottom: 14px;
        color: black;
        font-weight: bold;
        text-align: center;
        padding-bottom: 20px;
        
    }
    .delete_btn {
        background-color: rgb(255, 8, 0);
        border-radius: 50%;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 0 13px;
        font-weight: bold;
    }

      
    
  /*9ad template dyal lpc*/
  

    /* flex gap-3 ml-2 mr-2 pt-1 pb-1 rounded-md bg-gray-100 */
}